<section class="depot_form">
  <h1 class="mb-4 text-2xl leading-normal">Please enter your details</h1>

  <%= render 'form', order: @order %>

  <%= link_to 'Back', orders_path %>
</section>

<%= javascript_pack_tag "pay_type" %>