<h2 class="text-xl leading-normal">Your Pragmatic Cart</h2>

<div class="mt-4">
  <table>
    <%= render(cart.line_items) %>
    <tfoot>
      <tr class="border-t border-0 border-black border-solid">
        <th class="py-2 px-3 text-right" colspan="2">Total:</th>
        <td class="py-2 px-3"><%= number_to_currency(cart.total_price, unit: '€') %></td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="mt-8">
  <%= button_to 'Empty cart', cart, method: :delete, remote: true, data: {confirm: 'Are you sure?'}, class: 'px-2 py-1 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-red-600 hover:bg-red-500'  %>
</div>